#BulletPointBubble {
	position: fixed;
	top: 0;
	left: 50%;
	outline: 0;
	margin: 0;
	margin-top: 45px;
	margin-left: -80px;
	border: 0;
	border-radius: 80px;
	padding: 5px;
	width: 150px;
	height: 150px;
	color: white;
	z-index: 99999999;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	-o-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}
#BulletPointBubble.red {
	background: red;
	box-shadow:
		0 0 0 5px rgba(255, 0, 0, 0.50),
		0 0 0 10px rgba(255, 0, 0, 0.25);
}
#BulletPointBubble.blue {
	background: blue;
	box-shadow:
		0 0 0 5px rgba(0, 0, 255, 0.50),
		0 0 0 10px rgba(0, 0, 255, 0.25);
}
#BulletPointBubble.hide {
	opacity: 0;
}
#BulletPointBubble p {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: Georgia, serif;
	font-weight: 400;
	line-height: 1.3em;
	color: white;
	text-align: center;
}
#BulletPointBubble p:first-of-type {
	margin-top: 35px;
}
#BulletPointBubble p.small {
	font-size: 14px;
}
#BulletPointBubble p.propersition {
	font-size: 12px;
	font-style: italic;
}
#BulletPointBubble p.big {
	font-size: 24px;
} 