@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro:700');

#BulletPointWrapper ::-webkit-input-placeholder { color: #ccc; opacity: 1.0; }
#BulletPointWrapper ::-moz-placeholder { color: #ccc; opacity: 1.0; } /* Firefox 19+ */
#BulletPointWrapper :-moz-placeholder { color: #ccc; opacity: 1.0; } /* Firefox 18- */
#BulletPointWrapper :-ms-input-placeholder { color: #ccc; opacity: 1.0; }

#BulletPointWrapper ::selection { background: lime; color: black; text-shadow: none; }
#BulletPointWrapper ::-moz-selection { background: lime; color: black; text-shadow: none; }

#BulletPointWrapper {
	position: fixed;
	top: 0;
	left: 50%;
	font-size: 15px;
	width: 24em;
	margin-left: -12em;
	background: blue;
	z-index: 999999999999;
}
#BulletPointWrapper[status='error'] {
	background: red;
}
#BulletPointWrapper[status='warning'] {
	background: yellow;
}
#BulletPointWrapper[status='ok'] {
	background: green;
}
#BulletPointWrapper * {
	-webkit-appearance: none;
	position: relative;
	box-shadow: none;
	outline: none;
	margin: 0;
	border: none;
	padding: 0;
	background: none;
	font-family: 'Source Code Pro', monospace;
	font-size: 1em;
	color: lime;
	line-height: 1.2em;
	letter-spacing: 0;
	-webkit-font-smoothing: subpixel-antialiased;
}
#BulletPointWrapper *:focus {
	box-shadow: none;
	outline: none;
	border: none;
	background: none;
}

#BulletPointWrapper .row {
	max-width: 100%;
	min-width: 100%;
	width: 100%;
	margin: 0.13333333px 0;
}
#BulletPointWrapper .padding {
	padding: 0.33333333em;
}
#BulletPointWrapper textarea {
	height: 7.5em;
}
#BulletPointWrapper textarea.blurry {
   color: transparent;
   text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}
#BulletPointWrapper #BulletPointID {
	font-size: 0.75em;
	text-align: right;
}
#BulletPointWrapper #statusMessageBox {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
}
#BulletPointWrapper #statusMessageBox p {
	margin-top: 0.33333333em;
	text-align: center;
}