body, p, h1, h2, input {
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	font-weight: 300;
}
h1, h2 {
	font-size: 3em;
	font-weight: 500;
}
h2 {
	font-size: 2em;
}

a, a:hover, a:visited, a:active {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: red;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: 500;
}
input {
	-webkit-appearance: none;
	outline: none;
}