body, p {
	font-family: "Droid Serif", serif;
	font-size: 13px;
}
h1, h2 {
	font-family: "Helvetica Neue";
	font-size: 3em;
}
h2 {
	font-size: 2em;
}

.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}