html, body, p, li, input, select, option, textarea, text {
	font-family: "Source Code Pro", monospace;
	font-size: 13px;
}
div, form, svg {
	position: relative;
	margin: 0;
	padding: 0;
}
body { background: #181818; color: white; }
input {
	-webkit-appearance: none;
	outline: none;
	border-width: 2px;
	border-radius: 2px;
	padding: 2px 4px;
}
textarea {
	outline: none;
	border: 0;
	margin: 0;
	padding: 2px 4px;
}
select {
	-webkit-appearance: none;
	outline: none;
	border: 1px solid #aaa;
	border-radius: 2px;
	padding: 2px 4px;
}
body {
	margin: 0;
}
form {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0.5em 1em;
}

div#canvas { height: 100%; margin: 0; margin: 3em 0; }
div#canvas svg {
	display: block;
	margin: 0 auto;
}

.Node			circle.center { fill: white; }
.Node.article	circle.center { fill: lime; }
.Node.issue		circle.center { fill: red; }
.Node text { fill: white; }

.Edge line { stroke: #555 ; stroke-width: 0.5em; }