html, body, p, li, input, select, option, textarea, text {
	font-family: "Roboto", monospace;
	font-weight: 300;
	font-size: 11px;
	-webkit-font-smoothing: subpixel-antialiased;
}
div, svg {
	position: relative;
	margin: 0;
	padding: 0;
}
body { background: #181818; color: white; }
input {
	-webkit-appearance: none;
	outline: none;
	border-width: 2px;
	border-radius: 2px;
	padding: 2px 4px;
}
input[type="text"] {
	width: 15em;
}
input[type="text"].veryShort {
	width: 5em;
}
textarea {
	outline: none;
	border: 0;
	margin: 0;
	padding: 2px 4px;
}
select {
	-webkit-appearance: none;
	outline: none;
	border: 1px solid #aaa;
	border-radius: 2px;
	padding: 2px 4px;
}
body {
	margin: 0;
}
.form {
	margin: 0.5em 1em;
}
p {
	margin: 0.5em 0;
}
.emphasize {
	font-weight: 500;
}

.sampleNode {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	background: white;
}
.sampleNode.human	{ background: lime; }
.sampleNode.organization { background: lime; }
.sampleNode.event	{ background: yellow; }
.sampleNode.project	{ background: yellow; }
.sampleNode.place	{ background: magenta; }
.sampleNode.technology	{ background: aqua; }
.sampleNode.book	{ background: blue; }
.sampleNode.ideology	{ background: blue; }
.sampleNode.thesis	{ background: blue; }
.sampleNode.topic	{ background: red; }
.sampleNode.issue	{ background: red; }

.sampleEdge {
	display: inline-block;
	vertical-align: middle;
	width: 2em;
	height: 0.5em;
	background: #333;
}

div#controls { padding: 0.5em; background: #555; }
div#canvas { height: 100%; margin: 0; }
div#canvas svg {
	display: block;
	margin: 0 auto;
}

.box { opacity: 0.0; }
.clickable { cursor: pointer; }

.Node			.typeIndicator { fill: white; }
.Node.article	.typeIndicator { fill: white; }
.Node.human		.typeIndicator { fill: lime; }
.Node.organization .typeIndicator { fill: lime; }
.Node.event		.typeIndicator { fill: yellow; }
.Node.project	.typeIndicator { fill: yellow; }
.Node.place		.typeIndicator { fill: magenta; }
.Node.technology .typeIndicator { fill: aqua; }
.Node.book		.typeIndicator { fill: blue; }
.Node.ideology	.typeIndicator { fill: blue; }
.Node.thesis	.typeIndicator { fill: blue; }
.Node.topic		.typeIndicator { fill: red; }
.Node.issue		.typeIndicator { fill: red; }

.Node.selected	.typeIndicator { stroke: white; stroke-width: 0.15em; }

.Node.stat .storageTypeIndicator { opacity: 0.5; fill: black; }
.Node.sync .storageTypeIndicator { opacity: 0.0; }

.Node text			{ fill: white; }
.Node text.type		{ fill: #555; display: none; }
.Node:hover text.type { display: block; }

.Edge line { stroke: #333 ; stroke-width: 0.5em; }
.Edge text { fill: #555; text-anchor: middle; }

.removeIcon { opacity: 0.0; }
.removeIcon line { stroke: #aaa; stroke-width: 1px; }
.removeIcon:hover line { stroke: white; stroke-width: 2px; }

.Node:hover .removeIcon  { opacity: 1.0; }
.Edge:hover .removeIcon { opacity: 1.0; }

.editWindow input[type="text"] {
	display: block;
}