html, body, p, li, input, select, option, textarea, text {
	font-family: "Roboto", monospace;
	font-weight: 300;
	font-size: 13px;
	-webkit-font-smoothing: subpixel-antialiased;
}
div, form, svg {
	position: relative;
	margin: 0;
	padding: 0;
}
body { background: #181818; color: white; }
input {
	-webkit-appearance: none;
	outline: none;
	border-width: 2px;
	border-radius: 2px;
	padding: 2px 4px;
}
textarea {
	outline: none;
	border: 0;
	margin: 0;
	padding: 2px 4px;
}
select {
	-webkit-appearance: none;
	outline: none;
	border: 1px solid #aaa;
	border-radius: 2px;
	padding: 2px 4px;
}
body {
	margin: 0;
}
.form {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0.5em 1em;
}
p {
	margin: 0.5em 0;
}
.emphasize {
	font-weight: 500;
}

.sampleNode {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	background: white;
}
.sampleNode.human	{ background: lime; }
.sampleNode.event	{ background: yellow; }
.sampleNode.place	{ background: magenta; }
.sampleNode.book	{ background: blue; }
.sampleNode.ideology	{ background: blue; }
.sampleNode.argument	{ background: blue; }
.sampleNode.issue	{ background: red; }

.sampleEdge {
	display: inline-block;
	vertical-align: middle;
	width: 2em;
	height: 0.5em;
	background: #555;
}

div#canvas { height: 100%; margin: 0; margin: 3em 0; }
div#canvas svg {
	display: block;
	margin: 0 auto;
}

.Node			circle.center { fill: white; cursor: pointer; }
.Node.article	circle.center { fill: white; }
.Node.human		circle.center { fill: lime; }
.Node.event		circle.center { fill: yellow; }
.Node.place		circle.center { fill: magenta; }
.Node.book		circle.center { fill: blue; }
.Node.ideology	circle.center { fill: blue; }
.Node.arguement	circle.center { fill: blue; }
.Node.issue		circle.center { fill: red; }

.Node text			{ fill: white; }
.Node text.type		{ fill: #555; display: none; }
.Node:hover text.type { display: block; }


.Edge line { stroke: #333 ; stroke-width: 0.5em; }